.GlobalModal {
  background: var(--white);
  width: fit-content;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
}
.GlobalModal h2 {
  font-size: 2rem;
  margin: 0 0 5px;
}
.GlobalModal__p {
  font-size: 1.6rem;
  margin: 0 0 15px;
}
.GlobalModal .GlobalModal__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}
.GlobalModal .NormalButton {
  width: fit-content;
  padding: 5px 20px;
}
@media screen and (max-width: 425px) {
  .GlobalModal {
    width: 80%;
  }
  .GlobalModal .GlobalModal__btns {
    flex-direction: column;
    gap: 0;
  }
  .GlobalModal button {
    width: 100%;
  }
}


/* Modal */

.ModalDefault {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 2;
}
.ModalDefault__close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  background-color: white;
  color: gray;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 2;
  font-size: 2rem;
}
.ModalDefault__container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ModalDefault__video {
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ModalDefault__video div h1{
  padding: 1rem;
}
.ModalDefault__video::-webkit-scrollbar {
  width: 1rem;
}
.ModalDefault__video::-webkit-scrollbar-track {
  margin: 10px 0;
}
.ModalDefault__video::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 25px;
}
.ModalDefault__close {
  /* background: #6a308147; */
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 0;
}
@media (max-width: 850px) {
  .ModalDefault__video {
    width: 100%;
  }
  .ModalDefault__close-button {
    border: 1px solid var(--black);
  }
}
