$margin: 2rem;
$backgroundColor: #f3f3f3;
$green-color: rgb(98, 216, 79);
$golden-color: #ebd37e;
$bronze-color: #eecfba;
$silver-color: #d7dbdc;
$container-main: 1000px;

/* Neo Colors palete */

$principal: #cff1ff;
$secundario: #54595f;
$texto: #747474;
$enfasis: #61ce7d;
$crema: #fffdc9;

/* Numbers color */

$color1 : #061B36;
$color2 : #143d54;
$color3 : #2D4675;
$color4 : #4C698B;
$color5 : #748ba7;
$blanco : #FFF;
$celeste: #02DBF9;
